{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <link rel="stylesheet" href="{% static 'css/products_css/get_products.css' %}">

    <section><h1>{{ type }}</h1></section>
    <section class="all_prd">

        <div class="card_container">
            {% for obj in products %}

                <div class="card">
                    <div class="prd_image">
                        <a href="{% url 'product details' slug=obj.slug %}">
                            <img src="/media/{{ obj.product_image }}" alt="{{ obj.name }}">
                        </a>
                    </div>

                    <div class="product_name"><p>{{ obj.name }}</p></div>
                    <div class="price">{{ obj.price }} lv</div>

                    <div class="card-actions">

                        <form method="post" action="{% url 'add_to_cart' obj.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="btn-cart">🛒 Add to Cart</button>
                        </form>

                        {% if user.is_authenticated %}
                            <form method="post" action="{% url 'toggle_like' obj.pk %}">
                                {% csrf_token %}
                                <button type="submit" class="like-btn {% if obj.pk in liked_ids %}liked{% endif %}" >
                                    {% if obj.pk in liked_ids %}
                                        ❤️ {{ obj.like_count }}
                                    {% else %}
                                        🤍 {{ obj.like_count }}
                                    {% endif %}
                                </button>
                            </form>
                        {% else %}
                            <div>🤍{{ obj.like_count }}</div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    {% if is_paginated %}
        <div class="pagination premium">
            {% if page_obj.has_previous %}
                <a class="page-btn prev" href="?page={{ page_obj.previous_page_number }}">
                    <span class="arrow">←</span> PREV
                </a>
            {% endif %}

            <span class="page-info">
        PAGE {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
    </span>

            {% if page_obj.has_next %}
                <a class="page-btn next" href="?page={{ page_obj.next_page_number }}">
                    NEXT <span class="arrow">→</span>
                </a>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}