
.all_prd {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    gap: 20px;
}

.card_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 24px;

}

/* Card styling */
.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    /*width: calc(20% - 20px); !* still 5 per row *!*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px; /* slightly more padding */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.card:hover {
    /*transform: translateY(-5px);*/
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}


.product_name{
    align-self: flex-start;
}

.product_name p {
    color: black;
    font-size: 20px;
    font-weight: bold;
}



/* Add to cart button */
.card form button {
    background-color: #ffffff;
    color: black;
    padding: 6px 10px;
    border: 1px solid grey;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.85rem;
    transition: background-color 0.3s ease;
}

.card form button:hover {
    background-color: #e5e8e5;
}

/*.card-actions {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    gap: 8px;*/
/*    margin-top: 10px;*/
/*    width: 100%;*/

/*}*/



/* Add to cart button */
/*.btn-cart {*/
/*    background-color: #cf9959;*/
/*    color: #fff;*/
/*    !*padding: 6px 10px;*!*/
/*    text-decoration: none;*/
/*    text-align: center;*/
/*    border: none;*/
/*    border-radius: 6px;*/
/*    cursor: pointer;*/
/*    font-size: 0.85rem;*/
/*    flex: 1;*/
/*    transition: background-color 0.3s ease;*/
/*}*/

/*.btn-cart:hover {*/
/*    background-color: #114311;*/
/*}*/

