.photo-details-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 25px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 12px;
    text-align: center;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
}

.photo-details-container h2 {
    font-size: 26px;
    margin-bottom: 10px;
    color: #333;
}

.photo-name {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #444;
}

.photo-details-container img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.photo-details-container div a {
    display: inline-block;
    margin: 0 8px;
    padding: 10px 18px;
    /*background-color: #007acc;*/
    background-color: #bf9f2a;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.photo-details-container div a:hover {
    background-color: #005fa3;
}

.photo-details-container div .btn-delete:hover {
    background-color: #7a0808;
}
